.sign-in {
  margin-top: 80px;
  //   max-width: 1200px;
  //   margin: auto;
  & h2 {
    margin-bottom: 20px;
  }
  display: flex;
  flex-direction: column;
  // width: 500px;
  width: 30vw;
  & form {
    display: flex;
    flex-direction: column;
  }
}
