.cart-dropdown-wrapper {
  // background-color: goldenrod;
  z-index: 1;
  // margin-top: 10px;
  width: 250px;
  height: auto;
  padding-top: 20px;
  position: absolute;
  right: 0;

  top: 5vh;
  // top: 5px;
}
.cart-dropdown {
  background: rgb(255, 255, 255);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;

  width: 100%;

  //   padding: 20px;
  &__count {
    background: #ebebeb;
    // position: absolute;
    padding: 20px;
    width: 100%;
  }
  &__items {
    width: 200px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  &__buttons {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
  &::after {
    content: "";
    width: 20px;
    height: 20px;
    top: -20px;
    right: 0;
    transform: translate(-10%, 50%) rotate(45deg);
    background: black;
    position: absolute;
    z-index: -10;
  }
}
