.bag {
  display: flex;
  justify-content: space-between;
  // background-color: royalblue;
  width: 100%;
  @media (max-width: 840px) {
    flex-direction: column;
    width: 100%;
    // padding: 30px;
  }
  .bag-list {
    @media (max-width: 840px) {
      padding: 30px;
    }
    @media (max-width: 540px) {
      margin-top: 30px;
    }
    display: flex;
    flex: 2;
    flex-direction: column;
    margin-top: 80px;
    &__title {
      font-size: 1.5rem;
      font-weight: bold;
      padding-bottom: 20px;
      border-bottom: 1px solid #444;
    }
  }
  & > div {
    flex: 1;
    // background: aqua;
  }
}
