.collection_row {
  width: 100%;
  &__title {
    margin: 32px 0;
    text-align: center;
  }
}
.preview_items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  div {
    flex: 1 0 21%;
  }
}
