.collection_row {
  width: 100%;
  &__title {
    margin: 32px 0;
    text-align: center;
  }
}
.preview_items {
  display: grid;
  grid-template-columns: 290px 290px 290px 290px;
  justify-content: space-between;
  grid-gap: 15px;
  div {
    width: 290px;
  }
}
