.mens-page {
  display: flex;
  margin-top: 80px;
  justify-content: center;
}
.mens-page__title {
  text-align: center;
  margin-bottom: 10px;
}
.mens-page__para {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 80px;
  color: #444;
}
.mens-page__newIn-link {
  margin: 80px 0;
  display: flex;
  justify-content: center;

  & a {
    color: black;
  }
}
.mens-page__banner {
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  & img {
    // margin: 0px 0 60px;
    object-fit: cover;
    height: 575px;
    width: 100%;
    // padding: 0 80px;
    z-index: -1;
    filter: saturate(0.6);
  }
}
