@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.category {
  overflow: hidden;
  cursor: pointer;
  filter: saturate(0.7);
  height: 100%;
  &__bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    height: 100%;
    position: absolute;
    // z-index: -1;
    transition: all 0.2s ease;
  }
  &:hover {
    & .category__bg {
      transform: scale(1.1);
      transition: all 0.2s ease-in-out;
    }
  }
  font-family: "Roboto", sans-serif;
  //   background: rgb(255, 96, 122);
  min-width: 30%;
  width: 100%;
  //   height: 240px;
  //   flex: 1 1 auto;
  // border-radius: 3.5px;
  display: flex;

  //   justify-content: center;
  align-items: flex-end;
  // background-size: cover;
  // background-position: center;

  &:first-of-type {
    grid-area: men;
    & .category__bg {
      background-size: 175%;
      background-position: -180px -130px;
      background-image: url(./images/men3.jpg);
      @media (max-width: 600px) {
        background-size: 125%;
        background-position: -100px -220px;
      }
      @media (max-width: 440px) {
        background-size: 125%;
        background-position: center;
      }
    }
  }

  &:nth-of-type(2) {
    grid-area: women;
    & .category__bg {
      background-image: url(./images/women2.jpg);
      @media (max-width: 1000px) {
        background-position: top;
      }
      @media (max-width: 600px) {
        background-position: 0 -80px;
      }
    }
  }
  &:nth-of-type(3) {
    grid-area: shoes;
    & .category__bg {
      background-image: url(./images/creps.jpg);
      background-position: -220px 320px;
      background-size: 200%;
      @media (max-width: 1000px) {
        background-position: -240px 380px;
      }
      @media (max-width: 600px) {
        background-position: -320px 420px;
      }
      @media (max-width: 440px) {
        background-position: -220px 380px;
      }
      @media (max-width: 330px) {
        background-position: -180px 280px;
      }
    }
  }
  &:nth-of-type(4) {
    grid-area: accessories;

    & .category__bg {
      background-image: url(./images/accessory.jpg);
      background-position: top;
      @media (max-width: 600px) {
        background-position: 0px -140px;
      }
      @media (max-width: 330px) {
        background-position: 0px -18px;
      }
    }
  }
  &:nth-of-type(5) {
    grid-area: activewear;
    & .category__bg {
      background-image: url(./images/brand2.jpg);
      background-position: left;
      background-size: 140%;
    }
  }
  &:nth-of-type(6) {
    grid-area: brands;
    & .category__bg {
      background-image: url(./images/nike.jpg);
    }
  }
  &__content {
    padding: 30px;
    color: white;
    z-index: 1;
  }
}
