.SignInSignUp {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 0 20px;
  @media (max-width: 1080px) {
    flex-direction: column;
    align-items: center;
    margin: 80px 10px;
  }
  @media (max-width: 540px) {
    margin-top: 30px;
  }
}
