.delivery-address {
  // padding-top: 30px;
  background-color: #d9d9d9;
  padding: 10px;
  width: 500px;
  height: auto;
  &__details {
    & > p {
      padding-top: 5px;
    }
    padding: 10px 10px;
  }
  & h2 {
    padding: 10px 10px 0;
  }
}
