.collection_item {
  cursor: pointer;
  //   border: 1px solid rgba(88, 88, 88, 0.251);
  width: 400px;
  display: flex;
  flex-direction: column;
  height: 600px;
  align-items: center;
  justify-content: space-between;
  padding: 1px;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &__image {
    width: 100%;
    min-height: 75%;
    height: 100%;
    // border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // border-bottom: 1px solid rgba(88, 88, 88, 0.251);
  }
  &__details {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    // justify-self: flex-start;
    align-self: flex-start;
    span {
      font-size: 1.4rem;
    }
    &__brand {
      font-weight: bold;
    }
    &__name {
      padding-bottom: 20px;
      //   font-weight: bold;
    }
    &__price {
      color: #444;
    }
  }
}
