.directory-menu {
  width: 100%;
  display: grid;

  grid-template-areas:
    "men women brands shoes"
    "men  women accessories activewear ";

  grid-template-rows: 260px 260px;
  grid-template-columns: 300px 300px minmax(250px, auto) minmax(250px, auto);
  grid-gap: 17px;
  margin-bottom: 80px;
}

@media (max-width: 1440px) {
  .directory-menu {
    grid-template-areas:
      "men women shoes"
      "men  women accessories"
      "activewear activewear brands";
    grid-template-rows: 320px 320px 320px;
    grid-template-columns: 400px 400px 480px auto;
    grid-gap: 15px;
  }
}
