.home {
  display: flex;
  //   flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  //   width: 100vw;
  height: 100vh;
  //   min-width: 100%;
  margin: 0 auto;
  //   background: chocolate;
  align-items: center;
  //   padding: 20px 80px;
  position: relative;
}
.directory-menu {
  //   width: 100%;
  display: grid;

  grid-template-areas:
    "men women shoes accessories"
    "men  women activewear brands";

  grid-template-rows: 300px 300px;
  grid-template-columns: 300px 300px 320px 320px;
  grid-gap: 15px;
}
