.directory-menu {
  overflow: hidden;
  max-height: auto;
  margin-bottom: 80px;
  width: 100%;

  // height: 100%;
  justify-content: center;
  &__item {
    justify-content: center;
    width: 100%;
    display: grid;
    padding: 20px;
    margin-bottom: 50px;
    grid-template-areas:
      "men women brands shoes"
      "men  women accessories activewear ";

    grid-template-rows: 260px 260px;
    grid-template-columns: 300px 300px minmax(250px, auto) minmax(250px, auto);
    grid-gap: 17px;
  }
}

@media (max-width: 1440px) {
  .directory-menu__item {
    grid-template-areas:
      "men women shoes"
      "men  women accessories"
      "activewear activewear brands";
    grid-template-rows: 320px 320px 320px;
    grid-template-columns: minmax(200px, 400px) minmax(200px, 400px) minmax(
        200px,
        480px
      );
    grid-gap: 15px;
  }
}
@media (max-width: 1024px) {
  .directory-menu {
    margin: auto;
    &__item {
      grid-template-areas:
        "men women"
        "shoes accessories"
        "activewear brands";
      grid-template-rows: 520px 360px 360px;
      grid-template-columns: minmax(200px, 400px) minmax(200px, 400px);
      grid-gap: 15px;
    }
  }
}
@media (max-width: 600px) {
  .directory-menu {
    margin: auto;
    &__item {
      grid-template-areas:
        "men men"
        "women women"
        "shoes shoes"
        "accessories accessories"
        "activewear activewear"
        "brands brands";
      grid-template-rows: repeat(6, 280px);
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }
  }
}
