.checkout-items {
  @media (max-width: 1240px) {
    width: 100%;
  }
  width: 450px;
  &__top {
    display: flex;
    justify-content: space-between;
    // padding: 0 30px;
    &__edit {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  & div {
    padding-left: 0;
  }
  // margin-top: 30px;
  & ul {
    padding-bottom: 50px;
  }
  & h3 {
    padding-bottom: 50px;
  }
  &__summarydetails {
    // padding: 30px;
    &__subtotal,
    &__total,
    &__delivery,
    &__discount {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;

      // font-weight: bold;
      font-size: 18px;
    }
    &__total {
      padding-bottom: 20px;
    }
  }
}
