.womens-page {
  display: flex;
  justify-content: center;
}
.womens-page__title {
  text-align: center;
  margin-bottom: 10px;
}
.womens-page__para {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 80px;
  color: #444;
  @media (max-width: 720px) {
    width: 75%;
  }
  @media (max-width: 600px) {
    width: 50%;
  }
  @media (max-width: 420px) {
    width: 40%;
  }
}
.womens-page__newIn-link {
  margin: 80px 0;
  display: flex;
  justify-content: center;

  & a {
    color: black;
  }
}
.womens-page__banner {
  overflow: hidden;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 80px;
  height: 575px;
  width: 100%;
  // margin: 1em -100%; /* old browsers fallback */
  // margin: 1em calc(50% - 50vw);
  & img {
    // margin: 0px 0 60px;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    // padding: 0 80px;
    z-index: -1;
    filter: saturate(0.6);
  }
}
.categories-grid {
  // background: black;
  &__card {
    position: relative;
    overflow: hidden;
    // background-color: salmon;
    // position: relative;
    // z-index: 300;
    width: 100%;
    height: auto;

    &__blind {
      background-color: white;
      width: 100%;
      height: 100%;
      z-index: 111;
      position: absolute;
      top: 0;
    }
  }
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 0;
  justify-content: center;
  grid-gap: 40px;
  margin: 120px 0;
  @media (max-width: 840px) {
    grid-template-columns: 1fr;
    width: 90vw;
  }
  @media (max-width: 600px) {
    margin: 50px 0;
  }
}
