.wishlist {
  max-width: 1200px;
  padding-top: 50px;
  margin: auto;
  //   background-color: blueviolet;
  &__heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    // background-color: chartreuse;
  }
  &__items {
    display: grid;
    grid-template-columns: 290px 290px 290px 290px;
    justify-content: space-between;
    grid-gap: 15px;
    & .collection_item {
      width: 290px;
    }
  }
}
@media (max-width: 1240px) {
  .wishlist__items {
    grid-template-columns: 290px 290px 290px;
    justify-content: center;
  }
}
@media (max-width: 940px) {
  .wishlist__items {
    grid-template-columns: 290px 290px;
    justify-content: center;
  }
}
@media (max-width: 620px) {
  .wishlist__items {
    grid-template-columns: 225px 225px;
    justify-content: center;
    grid-gap: 10px;
    & .collection_item {
      width: 225px;
    }
  }
}
@media (max-width: 480px) {
  .wishlist__items {
    grid-template-columns: 290px;
    justify-content: center;
    // grid-gap: 10px;
    & .collection_item {
      width: 290px;
    }
  }
}
