.wishlist {
  max-width: 1200px;
  padding-top: 50px;
  margin: auto;
  //   background-color: blueviolet;
  &__heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    // background-color: chartreuse;
  }
  &__items {
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    justify-content: space-between;
    grid-gap: 20px;
    & .collection_item {
      width: 280px;
    }
  }
}
