@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.home {
  display: flex;
  //   flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  //   width: 100vw;
  height: 100vh;
  //   min-width: 100%;
  margin: 0 auto;
  //   background: chocolate;
  align-items: center;
  //   padding: 20px 80px;
  position: relative;
}
.directory-menu {
  //   width: 100%;
  display: grid;

  grid-template-areas:
    "men women shoes accessories"
    "men  women activewear brands";

  grid-template-rows: 300px 300px;
  grid-template-columns: 300px 300px 320px 320px;
  grid-gap: 15px;
}
.menu-item {
  font-family: "Roboto", sans-serif;
  background: rgb(255, 96, 122);
  min-width: 30%;
  width: 100%;
  //   height: 240px;
  //   flex: 1 1 auto;
  border-radius: 3.5px;
  display: flex;
  padding: 30px;
  //   justify-content: center;
  align-items: flex-end;

  &:first-child {
    grid-area: men;
  }
  &:nth-child(2) {
    grid-area: women;
  }
  &:nth-child(3) {
    grid-area: shoes;
  }
  &:nth-child(4) {
    grid-area: accessories;
  }
  &:nth-child(5) {
    grid-area: activewear;
  }
  &:nth-child(6) {
    grid-area: brands;
  }
  .content {
    // displ
  }
}

@media (max-width: 1440px) {
  .directory-menu {
    grid-template-areas:
      "men women shoes"
      "men  women accessories"
      "activewear activewear brands";
    grid-template-rows: 320px 320px 320px;
    grid-template-columns: 400px 400px 480px auto;
    grid-gap: 15px;
  }
}
