.checkout-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #777;
}
.checkout-wrapper {
  margin: 80px 0;
  width: 100%;
}
.checkout {
  margin-top: 80px;
  display: flex;
  // flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  &__left {
    display: flex;
    flex-direction: column;
  }
  & h1 {
    margin-bottom: 80px;
  }
}
@media (max-width: 1240px) {
  .checkout {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    .checkout__right {
      margin-top: 80px;
    }
  }
}
