.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  padding-bottom: 80px;
  //   width: 100vw;
  // height: 90vh;
  height: auto;
  //   min-width: 100%;
  margin: 0 auto;
  margin-top: 140px;
  //   background: chocolate;
  align-items: center;
  //   padding: 20px 80px;
  position: relative;
  z-index: 1;
  .banner-wrapper {
    z-index: -3;
    position: relative;
    height: 575px;
    width: 1920px;
    margin: 0px 0 60px;

    // background-color: red;
    overflow: hidden;
    // background-color: rgba(102, 51, 153, 0.36);
    .banner {
      z-index: -2;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &__text {
        position: absolute;
        z-index: 0;
        color: white;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.048);
        // background: green;
        &__heading {
          font-size: 3rem;
          @media (max-width: 740px) {
            font-size: 2.5rem;
          }
          @media (max-width: 600px) {
            margin: auto;
            width: 75%;
            text-align: center;
            margin-bottom: 20px;
          }
          @media (max-width: 400px) {
            font-size: 2.2rem;
          }
          @media (max-width: 370px) {
            font-size: 2rem;
          }
          @media (max-width: 330px) {
            font-size: 1.8rem;
          }
        }
        &__subtext {
          margin-bottom: 40px;
          @media (max-width: 500px) {
            margin: auto;
            width: 50%;
            line-height: 1.6;
            text-align: center;
          }
        }
        .custom-button {
          @media (max-width: 500px) {
            margin-top: 55px;
          }
        }
      }
      & img {
        position: relative;

        object-fit: cover;
        height: 575px;
        width: 1920px;
        // padding: 0 80px;
        z-index: -2;
        filter: saturate(0.6);
      }
    }
  }
}
.message-banner {
  background: rgb(236, 236, 236);
  margin-bottom: 80px;
  width: 100%;
  text-align: center;
  padding: 20px;
  & h2 {
    font-size: 1.2rem;
    padding-bottom: 5px;
  }
  & p {
    font-size: 0.8rem;
  }
}
.render {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: black;
  img {
    // position: absolute;
    // top: -50px;
    // left: 200px;
    height: 400px;
  }
}
@media (max-width: 840px) {
  .home {
    margin-top: 100px;
  }
}
@media (max-width: 540px) {
  .home {
    margin-top: 60px;
  }
}
